<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>chs</key>
		<string>[em00]</string>
		<key>gif</key>
		<string>em00.gif</string>
	</dict>
    <dict>
		<key>chs</key>
		<string>[em01]</string>
		<key>gif</key>
		<string>em01.gif</string>
	</dict>
    <dict>
		<key>chs</key>
		<string>[em02]</string>
		<key>gif</key>
		<string>em02.gif</string>
	</dict>
    <dict>
		<key>chs</key>
		<string>[em03]</string>
		<key>gif</key>
		<string>em04.gif</string>
	</dict>
    <dict>
		<key>chs</key>
		<string>[em05]</string>
		<key>gif</key>
		<string>em05.gif</string>
	</dict>
    <dict>
		<key>chs</key>
		<string>[em06]</string>
		<key>gif</key>
		<string>em06.gif</string>
	</dict>
    <dict>
		<key>chs</key>
		<string>[em07]</string>
		<key>gif</key>
		<string>em07.gif</string>
	</dict>
    <dict>
		<key>chs</key>
		<string>[em08]</string>
		<key>gif</key>
		<string>em08.gif</string>
	</dict>
    <dict>
		<key>chs</key>
		<string>[em09]</string>
		<key>gif</key>
		<string>em09.gif</string>
	</dict>
    <dict>
		<key>chs</key>
		<string>[em10]</string>
		<key>gif</key>
		<string>em10.gif</string>
	</dict>	
    <dict>
		<key>chs</key>
		<string>[em11]</string>
		<key>gif</key>
		<string>em11.gif</string>
	</dict>	
    <dict>
		<key>chs</key>
		<string>[em12]</string>
		<key>gif</key>
		<string>em12.gif</string>
	</dict>
    <dict>
		<key>chs</key>
		<string>[em13]</string>
		<key>gif</key>
		<string>em13.gif</string>
	</dict>
    <dict>
		<key>chs</key>
		<string>[em14]</string>
		<key>gif</key>
		<string>em14.gif</string>
	</dict>
    <dict>
		<key>chs</key>
		<string>[em15]</string>
		<key>gif</key>
		<string>em15.gif</string>
	</dict>
    <dict>
		<key>chs</key>
		<string>[em16]</string>
		<key>gif</key>
		<string>em16.gif</string>
	</dict>
    <dict>
		<key>chs</key>
		<string>[em17]</string>
		<key>gif</key>
		<string>em17.gif</string>
	</dict>
    <dict>
		<key>chs</key>
		<string>[em18]</string>
		<key>gif</key>
		<string>em18.gif</string>
	</dict>
    <dict>
		<key>chs</key>
		<string>[em19]</string>
		<key>gif</key>
		<string>em19.gif</string>
	</dict>
    <dict>
		<key>chs</key>
		<string>[em20]</string>
		<key>gif</key>
		<string>em20.gif</string>
	</dict>
    <dict>
		<key>chs</key>
		<string>[em21]</string>
		<key>gif</key>
		<string>em21.gif</string>
	</dict>
    <dict>
		<key>chs</key>
		<string>[em22]</string>
		<key>gif</key>
		<string>em22.gif</string>
	</dict>
    <dict>
		<key>chs</key>
		<string>[em23]</string>
		<key>gif</key>
		<string>em23.gif</string>
	</dict>
    <dict>
		<key>chs</key>
		<string>[em24]</string>
		<key>gif</key>
		<string>em24.gif</string>
	</dict>
    <dict>
		<key>chs</key>
		<string>[em25]</string>
		<key>gif</key>
		<string>em25.gif</string>
	</dict>
    <dict>
		<key>chs</key>
		<string>[em26]</string>
		<key>gif</key>
		<string>em26.gif</string>
	</dict>
    <dict>
		<key>chs</key>
		<string>[em27]</string>
		<key>gif</key>
		<string>em27.gif</string>
	</dict>
    <dict>
		<key>chs</key>
		<string>[em28]</string>
		<key>gif</key>
		<string>em28.gif</string>
	</dict>
    <dict>
		<key>chs</key>
		<string>[em29]</string>
		<key>gif</key>
		<string>em29.gif</string>
	</dict>
    <dict>
		<key>chs</key>
		<string>[em30]</string>
		<key>gif</key>
		<string>em30.gif</string>
	</dict>
    <dict>
		<key>chs</key>
		<string>[em31]</string>
		<key>gif</key>
		<string>em31.gif</string>
	</dict>
    <dict>
		<key>chs</key>
		<string>[em32]</string>
		<key>gif</key>
		<string>em32.gif</string>
	</dict>
</array>
</plist>
