<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>chs</key>
		<string>[兔子]</string>
		<key>cht</key>
		<string>[兔子]</string>
		<key>gif</key>
		<string>001.gif</string>
		<key>png</key>
		<string>001.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[熊猫]</string>
		<key>cht</key>
		<string>[熊貓]</string>
		<key>gif</key>
		<string>002.gif</string>
		<key>png</key>
		<string>002.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[给力]</string>
		<key>cht</key>
		<string>[給力]</string>
		<key>gif</key>
		<string>003.gif</string>
		<key>png</key>
		<string>003.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[神马]</string>
		<key>cht</key>
		<string>[神馬]</string>
		<key>gif</key>
		<string>004.gif</string>
		<key>png</key>
		<string>004.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[浮云]</string>
		<key>cht</key>
		<string>[浮雲]</string>
		<key>gif</key>
		<string>005.gif</string>
		<key>png</key>
		<string>005.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[织]</string>
		<key>cht</key>
		<string>[織]</string>
		<key>gif</key>
		<string>006.gif</string>
		<key>png</key>
		<string>006.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[围观]</string>
		<key>cht</key>
		<string>[圍觀]</string>
		<key>gif</key>
		<string>007.gif</string>
		<key>png</key>
		<string>007.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[威武]</string>
		<key>cht</key>
		<string>[威武]</string>
		<key>gif</key>
		<string>008.gif</string>
		<key>png</key>
		<string>008.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[嘻嘻]</string>
		<key>cht</key>
		<string>[嘻嘻]</string>
		<key>gif</key>
		<string>009.gif</string>
		<key>png</key>
		<string>009.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[哈哈]</string>
		<key>cht</key>
		<string>[哈哈]</string>
		<key>gif</key>
		<string>010.gif</string>
		<key>png</key>
		<string>010.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[爱你]</string>
		<key>cht</key>
		<string>[愛你]</string>
		<key>gif</key>
		<string>011.gif</string>
		<key>png</key>
		<string>011.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[晕]</string>
		<key>cht</key>
		<string>[暈]</string>
		<key>gif</key>
		<string>012.gif</string>
		<key>png</key>
		<string>012.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[泪]</string>
		<key>cht</key>
		<string>[淚]</string>
		<key>gif</key>
		<string>013.gif</string>
		<key>png</key>
		<string>013.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[馋嘴]</string>
		<key>cht</key>
		<string>[饞嘴]</string>
		<key>gif</key>
		<string>014.gif</string>
		<key>png</key>
		<string>014.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[抓狂]</string>
		<key>cht</key>
		<string>[抓狂]</string>
		<key>gif</key>
		<string>015.gif</string>
		<key>png</key>
		<string>015.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[哼]</string>
		<key>cht</key>
		<string>[哼]</string>
		<key>gif</key>
		<string>016.gif</string>
		<key>png</key>
		<string>016.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[可爱]</string>
		<key>cht</key>
		<string>[可愛]</string>
		<key>gif</key>
		<string>017.gif</string>
		<key>png</key>
		<string>017.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[怒]</string>
		<key>cht</key>
		<string>[怒]</string>
		<key>gif</key>
		<string>018.gif</string>
		<key>png</key>
		<string>018.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[汗]</string>
		<key>cht</key>
		<string>[汗]</string>
		<key>gif</key>
		<string>019.gif</string>
		<key>png</key>
		<string>019.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[呵呵]</string>
		<key>cht</key>
		<string>[呵呵]</string>
		<key>gif</key>
		<string>020.gif</string>
		<key>png</key>
		<string>020.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[睡觉]</string>
		<key>cht</key>
		<string>[睡覺]</string>
		<key>gif</key>
		<string>021.gif</string>
		<key>png</key>
		<string>021.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[钱]</string>
		<key>cht</key>
		<string>[錢]</string>
		<key>gif</key>
		<string>022.gif</string>
		<key>png</key>
		<string>022.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[偷笑]</string>
		<key>cht</key>
		<string>[偷笑]</string>
		<key>gif</key>
		<string>023.gif</string>
		<key>png</key>
		<string>023.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[酷]</string>
		<key>cht</key>
		<string>[酷]</string>
		<key>gif</key>
		<string>024.gif</string>
		<key>png</key>
		<string>024.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[衰]</string>
		<key>cht</key>
		<string>[衰]</string>
		<key>gif</key>
		<string>025.gif</string>
		<key>png</key>
		<string>025.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[吃惊]</string>
		<key>cht</key>
		<string>[吃驚]</string>
		<key>gif</key>
		<string>026.gif</string>
		<key>png</key>
		<string>026.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[闭嘴]</string>
		<key>cht</key>
		<string>[閉嘴]</string>
		<key>gif</key>
		<string>027.gif</string>
		<key>png</key>
		<string>027.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[鄙视]</string>
		<key>cht</key>
		<string>[鄙視]</string>
		<key>gif</key>
		<string>028.gif</string>
		<key>png</key>
		<string>028.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[挖鼻屎]</string>
		<key>cht</key>
		<string>[挖鼻屎]</string>
		<key>gif</key>
		<string>029.gif</string>
		<key>png</key>
		<string>029.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[花心]</string>
		<key>cht</key>
		<string>[花心]</string>
		<key>gif</key>
		<string>030.gif</string>
		<key>png</key>
		<string>030.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[鼓掌]</string>
		<key>cht</key>
		<string>[鼓掌]</string>
		<key>gif</key>
		<string>031.gif</string>
		<key>png</key>
		<string>031.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[失望]</string>
		<key>cht</key>
		<string>[失望]</string>
		<key>gif</key>
		<string>032.gif</string>
		<key>png</key>
		<string>032.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[帅]</string>
		<key>cht</key>
		<string>[帥]</string>
		<key>gif</key>
		<string>033.gif</string>
		<key>png</key>
		<string>033.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[照相机]</string>
		<key>cht</key>
		<string>[照相機]</string>
		<key>gif</key>
		<string>034.gif</string>
		<key>png</key>
		<string>034.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[落叶]</string>
		<key>cht</key>
		<string>[落葉]</string>
		<key>gif</key>
		<string>035.gif</string>
		<key>png</key>
		<string>035.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[汽车]</string>
		<key>cht</key>
		<string>[汽車]</string>
		<key>gif</key>
		<string>036.gif</string>
		<key>png</key>
		<string>036.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[飞机]</string>
		<key>cht</key>
		<string>[飛機]</string>
		<key>gif</key>
		<string>037.gif</string>
		<key>png</key>
		<string>037.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[爱心传递]</string>
		<key>cht</key>
		<string>[愛心傳遞]</string>
		<key>gif</key>
		<string>038.gif</string>
		<key>png</key>
		<string>038.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[奥特曼]</string>
		<key>cht</key>
		<string>[奧特曼]</string>
		<key>gif</key>
		<string>039.gif</string>
		<key>png</key>
		<string>039.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[实习]</string>
		<key>cht</key>
		<string>[實習]</string>
		<key>gif</key>
		<string>040.gif</string>
		<key>png</key>
		<string>040.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[思考]</string>
		<key>cht</key>
		<string>[思考]</string>
		<key>gif</key>
		<string>041.gif</string>
		<key>png</key>
		<string>041.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[生病]</string>
		<key>cht</key>
		<string>[生病]</string>
		<key>gif</key>
		<string>042.gif</string>
		<key>png</key>
		<string>042.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[亲亲]</string>
		<key>cht</key>
		<string>[親親]</string>
		<key>gif</key>
		<string>043.gif</string>
		<key>png</key>
		<string>043.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[怒骂]</string>
		<key>cht</key>
		<string>[怒駡]</string>
		<key>gif</key>
		<string>044.gif</string>
		<key>png</key>
		<string>044.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[太开心]</string>
		<key>cht</key>
		<string>[太開心]</string>
		<key>gif</key>
		<string>045.gif</string>
		<key>png</key>
		<string>045.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[懒得理你]</string>
		<key>cht</key>
		<string>[懶得理你]</string>
		<key>gif</key>
		<string>046.gif</string>
		<key>png</key>
		<string>046.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[右哼哼]</string>
		<key>cht</key>
		<string>[右哼哼]</string>
		<key>gif</key>
		<string>047.gif</string>
		<key>png</key>
		<string>047.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[左哼哼]</string>
		<key>cht</key>
		<string>[左哼哼]</string>
		<key>gif</key>
		<string>048.gif</string>
		<key>png</key>
		<string>048.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[嘘]</string>
		<key>cht</key>
		<string>[噓]</string>
		<key>gif</key>
		<string>049.gif</string>
		<key>png</key>
		<string>049.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[委屈]</string>
		<key>cht</key>
		<string>[委屈]</string>
		<key>gif</key>
		<string>050.gif</string>
		<key>png</key>
		<string>050.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[吐]</string>
		<key>cht</key>
		<string>[吐]</string>
		<key>gif</key>
		<string>051.gif</string>
		<key>png</key>
		<string>051.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[可怜]</string>
		<key>cht</key>
		<string>[可憐]</string>
		<key>gif</key>
		<string>052.gif</string>
		<key>png</key>
		<string>052.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[打哈气]</string>
		<key>cht</key>
		<string>[打哈氣]</string>
		<key>gif</key>
		<string>053.gif</string>
		<key>png</key>
		<string>053.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[顶]</string>
		<key>cht</key>
		<string>[頂]</string>
		<key>gif</key>
		<string>054.gif</string>
		<key>png</key>
		<string>054.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[疑问]</string>
		<key>cht</key>
		<string>[疑問]</string>
		<key>gif</key>
		<string>055.gif</string>
		<key>png</key>
		<string>055.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[做鬼脸]</string>
		<key>cht</key>
		<string>[做鬼臉]</string>
		<key>gif</key>
		<string>056.gif</string>
		<key>png</key>
		<string>056.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[害羞]</string>
		<key>cht</key>
		<string>[害羞]</string>
		<key>gif</key>
		<string>057.gif</string>
		<key>png</key>
		<string>057.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[书呆子]</string>
		<key>cht</key>
		<string>[書呆子]</string>
		<key>gif</key>
		<string>058.gif</string>
		<key>png</key>
		<string>058.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[困]</string>
		<key>cht</key>
		<string>[困]</string>
		<key>gif</key>
		<string>059.gif</string>
		<key>png</key>
		<string>059.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[悲伤]</string>
		<key>cht</key>
		<string>[悲傷]</string>
		<key>gif</key>
		<string>060.gif</string>
		<key>png</key>
		<string>060.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[感冒]</string>
		<key>cht</key>
		<string>[感冒]</string>
		<key>gif</key>
		<string>061.gif</string>
		<key>png</key>
		<string>061.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[拜拜]</string>
		<key>cht</key>
		<string>[拜拜]</string>
		<key>gif</key>
		<string>062.gif</string>
		<key>png</key>
		<string>062.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[黑线]</string>
		<key>cht</key>
		<string>[黑線]</string>
		<key>gif</key>
		<string>063.gif</string>
		<key>png</key>
		<string>063.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[不要]</string>
		<key>cht</key>
		<string>[不要]</string>
		<key>gif</key>
		<string>064.gif</string>
		<key>png</key>
		<string>064.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[good]</string>
		<key>cht</key>
		<string>[good]</string>
		<key>gif</key>
		<string>065.gif</string>
		<key>png</key>
		<string>065.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[弱]</string>
		<key>cht</key>
		<string>[弱]</string>
		<key>gif</key>
		<string>066.gif</string>
		<key>png</key>
		<string>066.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[ok]</string>
		<key>cht</key>
		<string>[ok]</string>
		<key>gif</key>
		<string>067.gif</string>
		<key>png</key>
		<string>067.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[赞]</string>
		<key>cht</key>
		<string>[贊]</string>
		<key>gif</key>
		<string>068.gif</string>
		<key>png</key>
		<string>068.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[来]</string>
		<key>cht</key>
		<string>[來]</string>
		<key>gif</key>
		<string>069.gif</string>
		<key>png</key>
		<string>069.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[耶]</string>
		<key>cht</key>
		<string>[耶]</string>
		<key>gif</key>
		<string>070.gif</string>
		<key>png</key>
		<string>070.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[haha]</string>
		<key>cht</key>
		<string>[haha]</string>
		<key>gif</key>
		<string>071.gif</string>
		<key>png</key>
		<string>071.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[拳头]</string>
		<key>cht</key>
		<string>[拳頭]</string>
		<key>gif</key>
		<string>072.gif</string>
		<key>png</key>
		<string>072.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[最差]</string>
		<key>cht</key>
		<string>[最差]</string>
		<key>gif</key>
		<string>073.gif</string>
		<key>png</key>
		<string>073.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[握手]</string>
		<key>cht</key>
		<string>[握手]</string>
		<key>gif</key>
		<string>074.gif</string>
		<key>png</key>
		<string>074.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[心]</string>
		<key>cht</key>
		<string>[心]</string>
		<key>gif</key>
		<string>075.gif</string>
		<key>png</key>
		<string>075.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[伤心]</string>
		<key>cht</key>
		<string>[傷心]</string>
		<key>gif</key>
		<string>076.gif</string>
		<key>png</key>
		<string>076.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[猪头]</string>
		<key>cht</key>
		<string>[豬頭]</string>
		<key>gif</key>
		<string>077.gif</string>
		<key>png</key>
		<string>077.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[咖啡]</string>
		<key>cht</key>
		<string>[咖啡]</string>
		<key>gif</key>
		<string>078.gif</string>
		<key>png</key>
		<string>078.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[话筒]</string>
		<key>cht</key>
		<string>[話筒]</string>
		<key>gif</key>
		<string>079.gif</string>
		<key>png</key>
		<string>079.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[月亮]</string>
		<key>cht</key>
		<string>[月亮]</string>
		<key>gif</key>
		<string>080.gif</string>
		<key>png</key>
		<string>080.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[太阳]</string>
		<key>cht</key>
		<string>[太陽]</string>
		<key>gif</key>
		<string>081.gif</string>
		<key>png</key>
		<string>081.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[干杯]</string>
		<key>cht</key>
		<string>[乾杯]</string>
		<key>gif</key>
		<string>082.gif</string>
		<key>png</key>
		<string>082.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[萌]</string>
		<key>cht</key>
		<string>[萌]</string>
		<key>gif</key>
		<string>083.gif</string>
		<key>png</key>
		<string>083.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[礼物]</string>
		<key>cht</key>
		<string>[禮物]</string>
		<key>gif</key>
		<string>084.gif</string>
		<key>png</key>
		<string>084.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[互粉]</string>
		<key>cht</key>
		<string>[互粉]</string>
		<key>gif</key>
		<string>085.gif</string>
		<key>png</key>
		<string>085.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[蜡烛]</string>
		<key>cht</key>
		<string>[蠟燭]</string>
		<key>gif</key>
		<string>086.gif</string>
		<key>png</key>
		<string>086.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[绿丝带]</string>
		<key>cht</key>
		<string>[綠絲帶]</string>
		<key>gif</key>
		<string>087.gif</string>
		<key>png</key>
		<string>087.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[沙尘暴]</string>
		<key>cht</key>
		<string>[沙塵暴]</string>
		<key>gif</key>
		<string>088.gif</string>
		<key>png</key>
		<string>088.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[钟]</string>
		<key>cht</key>
		<string>[鐘]</string>
		<key>gif</key>
		<string>089.gif</string>
		<key>png</key>
		<string>089.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[自行车]</string>
		<key>cht</key>
		<string>[自行車]</string>
		<key>gif</key>
		<string>090.gif</string>
		<key>png</key>
		<string>090.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[蛋糕]</string>
		<key>cht</key>
		<string>[蛋糕]</string>
		<key>gif</key>
		<string>091.gif</string>
		<key>png</key>
		<string>091.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[围脖]</string>
		<key>cht</key>
		<string>[圍脖]</string>
		<key>gif</key>
		<string>092.gif</string>
		<key>png</key>
		<string>092.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[手套]</string>
		<key>cht</key>
		<string>[手套]</string>
		<key>gif</key>
		<string>093.gif</string>
		<key>png</key>
		<string>093.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[雪]</string>
		<key>cht</key>
		<string>[雪]</string>
		<key>gif</key>
		<string>094.gif</string>
		<key>png</key>
		<string>094.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[雪人]</string>
		<key>cht</key>
		<string>[雪人]</string>
		<key>gif</key>
		<string>095.gif</string>
		<key>png</key>
		<string>095.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[温暖帽子]</string>
		<key>cht</key>
		<string>[溫暖帽子]</string>
		<key>gif</key>
		<string>096.gif</string>
		<key>png</key>
		<string>096.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[微风]</string>
		<key>cht</key>
		<string>[微風]</string>
		<key>gif</key>
		<string>097.gif</string>
		<key>png</key>
		<string>097.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[足球]</string>
		<key>cht</key>
		<string>[足球]</string>
		<key>gif</key>
		<string>098.gif</string>
		<key>png</key>
		<string>098.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[电影]</string>
		<key>cht</key>
		<string>[電影]</string>
		<key>gif</key>
		<string>099.gif</string>
		<key>png</key>
		<string>099.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[风扇]</string>
		<key>cht</key>
		<string>[風扇]</string>
		<key>gif</key>
		<string>100.gif</string>
		<key>png</key>
		<string>100.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[玫瑰]</string>
		<key>cht</key>
		<string>[玫瑰]</string>
		<key>gif</key>
		<string>101.gif</string>
		<key>png</key>
		<string>101.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[喜]</string>
		<key>cht</key>
		<string>[喜]</string>
		<key>gif</key>
		<string>102.gif</string>
		<key>png</key>
		<string>102.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[手机]</string>
		<key>cht</key>
		<string>[手機]</string>
		<key>gif</key>
		<string>103.gif</string>
		<key>png</key>
		<string>103.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[音乐]</string>
		<key>cht</key>
		<string>[音樂]</string>
		<key>gif</key>
		<string>104.gif</string>
		<key>png</key>
		<string>104.png</string>
	</dict>
</array>
</plist>
