<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>label</key>
		<string>1</string>
		<key>desc</key>
		<string>计算机（软件、硬件、服务）</string>
	</dict>
	<dict>
		<key>label</key>
		<string>2</string>
		<key>desc</key>
		<string>通信、电信</string>
	</dict>
	<dict>
		<key>label</key>
		<string>3</string>
		<key>desc</key>
		<string>互联网</string>
	</dict>
	<dict>
		<key>label</key>
		<string>4</string>
		<key>desc</key>
		<string>电子（半导体、仪器、自动化）</string>
	</dict>
	<dict>
		<key>label</key>
		<string>5</string>
		<key>desc</key>
		<string>金融服务（会计/审计，银行，保险）</string>
	</dict>
	<dict>
		<key>label</key>
		<string>6</string>
		<key>desc</key>
		<string>金融/投资/证券</string>
	</dict>
	<dict>
		<key>label</key>
		<string>7</string>
		<key>desc</key>
		<string>贸易（进出口,批发,零售）</string>
	</dict>
	<dict>
		<key>label</key>
		<string>8</string>
		<key>desc</key>
		<string>快速消费品（食品,饮料,化妆品）</string>
	</dict>
	<dict>
		<key>label</key>
		<string>9</string>
		<key>desc</key>
		<string>服装/纺织/皮革</string>
	</dict>
	<dict>
		<key>label</key>
		<string>10</string>
		<key>desc</key>
		<string>家具/家电/工艺品/玩具</string>
	</dict>
	<dict>
		<key>label</key>
		<string>11</string>
		<key>desc</key>
		<string>办公用品及设备</string>
	</dict>
	<dict>
		<key>label</key>
		<string>12</string>
		<key>desc</key>
		<string>医疗，医药</string>
	</dict>
	<dict>
		<key>label</key>
		<string>13</string>
		<key>desc</key>
		<string>广告/公关/市场推广/会展</string>
	</dict>
	<dict>
		<key>label</key>
		<string>14</string>
		<key>desc</key>
		<string>影视/媒体/出版/印刷/包装</string>
	</dict>
	<dict>
		<key>label</key>
		<string>15</string>
		<key>desc</key>
		<string>房地产相关</string>
	</dict>
	<dict>
		<key>label</key>
		<string>16</string>
		<key>desc</key>
		<string>家居/室内设计/装潢</string>
	</dict>
	<dict>
		<key>label</key>
		<string>17</string>
		<key>desc</key>
		<string>服务（咨询，人力资源）</string>
	</dict>
	<dict>
		<key>label</key>
		<string>18</string>
		<key>desc</key>
		<string>法律相关</string>
	</dict>
	<dict>
		<key>label</key>
		<string>19</string>
		<key>desc</key>
		<string>教育/培训</string>
	</dict>
	<dict>
		<key>label</key>
		<string>20</string>
		<key>desc</key>
		<string>学术/科研</string>
	</dict>
	<dict>
		<key>label</key>
		<string>21</string>
		<key>desc</key>
		<string>酒店/餐饮业</string>
	</dict>
	<dict>
		<key>label</key>
		<string>22</string>
		<key>desc</key>
		<string>旅游</string>
	</dict>
	<dict>
		<key>label</key>
		<string>23</string>
		<key>desc</key>
		<string>娱乐/休闲/体育</string>
	</dict>
	<dict>
		<key>label</key>
		<string>24</string>
		<key>desc</key>
		<string>美容/保健</string>
	</dict>
	<dict>
		<key>label</key>
		<string>25</string>
		<key>desc</key>
		<string>交通（运输、物流、航天、航空）</string>
	</dict>
	<dict>
		<key>label</key>
		<string>26</string>
		<key>desc</key>
		<string>汽车及零配件</string>
	</dict>
	<dict>
		<key>label</key>
		<string>27</string>
		<key>desc</key>
		<string>农业/水利</string>
	</dict>
	<dict>
		<key>label</key>
		<string>28</string>
		<key>desc</key>
		<string>政府/非盈利机构</string>
	</dict>
	<dict>
		<key>label</key>
		<string>30</string>
		<key>desc</key>
		<string>化工/生物</string>
	</dict>
	<dict>
		<key>label</key>
		<string>29</string>
		<key>desc</key>
		<string>其他行业</string>
	</dict>
</array>
</plist>
