<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>text</key>
			<string>公司行业</string>
			<key>label</key>
			<string>my_photo</string>
			<key>haveNext</key>
			<true/>
		</dict>
		<dict>
			<key>text</key>
			<string>公司类型</string>
			<key>label</key>
			<string>my_photo</string>
			<key>haveNext</key>
			<true/>
		</dict>
		<dict>
			<key>text</key>
			<string>公司名称</string>
			<key>label</key>
			<string>my_photo</string>
			<key>haveNext</key>
			<true/>
		</dict>
		<dict>
			<key>text</key>
			<string>毕业学校</string>
			<key>label</key>
			<string>set_avatar</string>
			<key>haveNext</key>
			<true/>
		</dict>
		<dict>
			<key>text</key>
			<string>专业类型</string>
			<key>label</key>
			<string>my_photo</string>
			<key>haveNext</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>text</key>
			<string>户口地区</string>
			<key>label</key>
			<string>my_photo</string>
			<key>haveNext</key>
			<true/>
		</dict>
		<dict>
			<key>haveNext</key>
			<true/>
			<key>text</key>
			<string>籍贯</string>
			<key>label</key>
			<string>my_photo</string>
		</dict>
		<dict>
			<key>text</key>
			<string>民族</string>
			<key>label</key>
			<string>my_photo</string>
			<key>haveNext</key>
			<true/>
		</dict>
		<dict>
			<key>text</key>
			<string>宗教信仰</string>
			<key>label</key>
			<string>my_photo</string>
			<key>haveNext</key>
			<true/>
		</dict>
		<dict>
			<key>text</key>
			<string>魅力部位</string>
			<key>label</key>
			<string>my_photo</string>
			<key>haveNext</key>
			<true/>
		</dict>
		<dict>
			<key>text</key>
			<string>血型</string>
			<key>label</key>
			<string>up_person</string>
			<key>haveNext</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>text</key>
			<string>居住情况</string>
			<key>label</key>
			<string>my_photo</string>
			<key>haveNext</key>
			<true/>
		</dict>
		<dict>
			<key>text</key>
			<string>购车情况</string>
			<key>label</key>
			<string>my_photo</string>
			<key>haveNext</key>
			<true/>
		</dict>
		<dict>
			<key>text</key>
			<string>婚姻情况</string>
			<key>label</key>
			<string>my_photo</string>
			<key>haveNext</key>
			<true/>
		</dict>
		<dict>
			<key>text</key>
			<string>有无子女</string>
			<key>label</key>
			<string>my_photo</string>
			<key>haveNext</key>
			<true/>
		</dict>
		<dict>
			<key>text</key>
			<string>是否吸烟</string>
			<key>label</key>
			<string>my_photo</string>
			<key>haveNext</key>
			<true/>
		</dict>
		<dict>
			<key>text</key>
			<string>是否饮酒</string>
			<key>label</key>
			<string>my_photo</string>
			<key>haveNext</key>
			<true/>
		</dict>
		<dict>
			<key>text</key>
			<string>作息习惯</string>
			<key>label</key>
			<string>my_photo</string>
			<key>haveNext</key>
			<true/>
		</dict>
		<dict>
			<key>text</key>
			<string>想要小孩</string>
			<key>label</key>
			<string>my_photo</string>
			<key>haveNext</key>
			<true/>
		</dict>
		<dict>
			<key>text</key>
			<string>同父母住</string>
			<key>label</key>
			<string>my_photo</string>
			<key>haveNext</key>
			<true/>
		</dict>
		<dict>
			<key>text</key>
			<string>家中排行</string>
			<key>label</key>
			<string>my_photo</string>
			<key>haveNext</key>
			<true/>
		</dict>
		<dict>
			<key>text</key>
			<string>最大消费</string>
			<key>label</key>
			<string>set_notify</string>
			<key>haveNext</key>
			<true/>
		</dict>
	</array>
</array>
</plist>
