<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>text</key>
			<string>设置头像</string>
			<key>logo</key>
			<string>set_head_icon.png</string>
			<key>label</key>
			<string>set_avatar</string>
			<key>haveNext</key>
			<true/>
		</dict>
		<dict>
			<key>text</key>
			<string>我的照片</string>
			<key>logo</key>
			<string>set_pic_icon.png</string>
			<key>label</key>
			<string>my_photo</string>
			<key>haveNext</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>text</key>
			<string>我赞过的人</string>
			<key>logo</key>
			<string>set_fav_icon.png</string>
			<key>label</key>
			<string>up_person</string>
			<key>haveNext</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>text</key>
			<string>提醒设置</string>
			<key>logo</key>
			<string>set_remind_icon.png</string>
			<key>label</key>
			<string>set_notify</string>
			<key>haveNext</key>
			<true/>
		</dict>
		<dict>
			<key>text</key>
			<string>防打扰设置</string>
			<key>logo</key>
			<string>set_disturb_icon</string>
			<key>label</key>
			<string>set_nowarn</string>
			<key>haveNext</key>
			<true/>
		</dict>
		<dict>
			<key>text</key>
			<string>黑名单管理</string>
			<key>logo</key>
			<string>set_deader_icon</string>
			<key>label</key>
			<string>black_list</string>
			<key>haveNext</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>text</key>
			<string>修改密码</string>
			<key>logo</key>
			<string></string>
			<key>label</key>
			<string>update_pass</string>
			<key>haveNext</key>
			<true/>
		</dict>
		<dict>
			<key>text</key>
			<string>停用帐号</string>
			<key>logo</key>
			<string></string>
			<key>label</key>
			<string>stop_account</string>
			<key>haveNext</key>
			<true/>
		</dict>
		<dict>
			<key>text</key>
			<string>给我们意见</string>
			<key>logo</key>
			<string></string>
			<key>label</key>
			<string>feedback</string>
			<key>haveNext</key>
			<true/>
		</dict>
		<dict>
			<key>text</key>
			<string>求评价~</string>
			<key>logo</key>
			<string></string>
			<key>label</key>
			<string>thread</string>
			<key>haveNext</key>
			<false/>
		</dict>
		<dict>
			<key>text</key>
			<string>关于对爱</string>
			<key>logo</key>
			<string></string>
			<key>label</key>
			<string>about</string>
			<key>haveNext</key>
			<false/>
		</dict>
	</array>
</array>
</plist>
